.filter__title {
  margin: 0;
  margin-bottom: 14px;

  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 1.667;
  text-transform: uppercase;
}

.filter__label {
  line-height: 1.25;
  color: $color-dark-blue;

  &--radio {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 26px;
      height: 26px;

      background-color: $color-white;
      border-radius: 50%;
      box-shadow: inset 0 0 0 4px rgba(77, 77, 77, 0.4),
      inset 0 0 0 8px $color-white;
    }
  }

  &--checkbox {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 28px;
      height: 23px;

      background-image: url("../img/checkbox-off.svg");
      background-repeat: no-repeat;
    }
  }
}

.filter__container {
  position: relative;

  margin: 0;
  margin-bottom: 16px;
  padding-left: 38px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .filter__label {
    color: $color-black;
  }

  &:hover .filter__label--radio::after {
    box-shadow: inset 0 0 0 4px rgba(77, 77, 77, 1),
    inset 0 0 0 8px $color-white;
  }

  &:hover .filter__input-radio:checked + .filter__label--radio::after {
    background-color: rgba(77, 77, 77, 1);
  }

  &:hover .filter__label--checkbox::after {
    background-image: url("../img/checkbox-off--hover-focus.svg");
  }

  &:hover .filter__input-checkbox:checked + .filter__label--checkbox::after {
    background-image: url("../img/checkbox-on--hover-focus.svg");
  }
}

.filter__input-radio:checked + .filter__label--radio::after {
  background-color: rgba(77, 77, 77, 0.4);
}

.filter__input-radio:disabled + .filter__label {
  color: rgba(40, 49, 54, 0.3);

  &::after {
    opacity: 0.1;
  }
}

.filter__input-radio:focus + .filter__label{
  &::after {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.filter__input-checkbox:checked + .filter__label--checkbox::after {
  background-image: url("../img/checkbox-on.svg");
}

.filter__input-checkbox:focus + .filter__label--checkbox::after {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter__input-checkbox:disabled + .filter__label {
  color: rgba(40, 49, 54, 0.3);

  &::after {
    opacity: 0.1;
  }
}

.filter__range {
  margin-bottom: 54px;
}

.filter__radio-filter {
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter__checkbox-filter {
  margin-bottom: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter__button {
  padding-left: 90px;
  padding-right: 90px;
}
