.filter-range__title {
  font-size: 18px;
  line-height: 1.667;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.filter-range__price-text {
  line-height: 1.375;
  color: $color-dark-blue;
  text-transform: uppercase;
}
