.map {
  line-height: 1.12;
  color: $color-gray-dark;
}

.map__title {
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 1.67;
  color: $color-black;
  text-transform: uppercase;
}
