.modal {
  position: fixed;
  z-index: 50;

  width: 960px;
  padding-top: 67px;
  padding-bottom: 84px;

  line-height: 1.125;

  background-color: $color-white;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal__contact {
  top: 150px;
  left: calc( 50% - (960px / 2));
}

.modal__container {
  position: relative;

  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.modal__title {
  margin: 0;
  margin-bottom: 40px;

  font-weight: $font-weight-medium;
  font-size: 45px;
  line-height: 1;
}

.modal__button-close {
  position: absolute;
  top: -3px;
  right: -5px;

  width: 50px;
  height: 50px;
  padding: 0;

  background-color: $color-white;

  &:hover {
    background-color: transparent;
  }

  &:hover::before,
  &:hover::after {
    background-color: $color-red;
  }

  &:active {
    background-color: transparent;
    box-shadow: none;
  }

  &:active::after,
  &:active::before {
    background-color: #ffeeee;
  }

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 25px;

    width: 4px;
    height: 28px;

    background-color: #fecccd;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 12px;

    width: 28px;
    height: 4px;

    background-color: #fecccd;
    transform: rotate(45deg);
  }
}
