.site-list {
  font-weight: $font-weight-medium;
  line-height: 1.875;
  text-transform: uppercase;
}

.site-list__list {
  display: flex;

  @include reset-list;
}


.site-list__link {
  position: relative;

  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;

  @include inherin-link;

  &--current::before {
    content: "";
    position: absolute;
    right: 24px;
    bottom: 2px;

    width: calc(100% - 48px);
    height: 2px;

    background-color: $color-red;
  }

  &:hover {
    color: $color-red;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
