.social {
  display: flex;
}

.social__list {
  @include reset-list;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-right: 140px;
}

.social__item {
  margin-right: 12px;

  &:last-child{
    margin-right: 0;
  };
}

.social__discount {
  padding-top: 74px;
  padding-bottom: 74px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: $color-gray-light;
}

.social__slogan {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1;
  font-weight: $font-weight-bold;
}

.social__text {
  margin: 0;
  color: $color-gray-darken;
  line-height: 1.375;
}
