.sorting__title {
  font-size: 18px;
  line-height: 1;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.sorting__text {
font-size: 14px;
line-height: 1.286;
text-transform: uppercase;
}
