.templates__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 62px;
}

.templates__item {
  display: flex;
  position: relative;
  padding-top: 36px;
  border-radius: 3px 3px 0 0;
  width: 360px;
  min-height: 580px;
  background: linear-gradient(to bottom, $color-gray5 40px, transparent 40px,);
  margin-right: 40px;
  margin-bottom: 33px;

  &:nth-child(2n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 16px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 23px 0 0 0 $color-white,
    46px 0 0 0 $color-white;
  }
}

.templates__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: inset 0 0 0 2px $color-gray6;
}

.templates__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.templates__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.667;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.templates__description {
  width: 240px;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.125;
  color: $color-gray-dark;
  text-align: center;
}

.templates__container {
  box-sizing: border-box;
  min-height: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  background-color:$color-gray;
  margin-top: auto;
  padding-top: 27px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.templates__price {
  padding: 16px 60px;
}

.templates__button {
  padding: 16px 20px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  &--big {
    padding: 16px 78px;
  }

  &--current {
    background-color: $color-white;
    box-shadow: inset 0 0 0 3px $color-gray7;
  }
}

.templates__pagination {
  display: flex;
}
