.user-list {
  font-weight: $font-weight-medium;
  line-height: 1.875;
  text-transform: uppercase;
}

.user-list__list {
  display: flex;

  @include reset-list;
}

.user-list__item {
  position: relative;

  &--basket::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px);
    bottom: 0;

    width: 16px;
    height: 15px;

    background-image: url(/img/cart-icon.svg);
  }
}

.user-list__link {
  margin-right: -24px;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 45px;

  @include inherin-link;

  &:hover {
    color: $color-red;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
