@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto-Regular"),
  url("../fonts/roboto.woff"),
  url("../fonts/roboto.woff2");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto-Medium"),
  url("../fonts/robotomedium.woff"),
  url("../fonts/robotomedium.woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: bold;

  src: local("Roboto-Bold"),
  url("../fonts/robotobold.woff"),
  url("../fonts/robotobold2.woff");
}
