// Файл с переменными:

// Гарнитуры используемые в проекте:
$font-family-main:        "Roboto", "Arial", sans-serif;

// Weight текста используемые в проекте:
$font-weight-regular:     400;
$font-weight-medium:      500;
$font-weight-bold:        700;

// Цвета испульзуемый в проекте:
$color-gray:              #eeeeee;
$color-gray2:             #d7dcde;
$color-gray3:             #ababab;
$color-gray4:             #a6a6a6;
$color-gray5:             #e9e9e9;
$color-gray6:             #e5e5e5;
$color-gray7:             #dbdbdb;
$color-gray8:             #dfdfdf;
$color-gray9:             #d5d5d5;
$color-gray10:            #4d4d4d;
$color-gray-light:        #e1e1e1;
$color-gray-dark:         #666666;
$color-gray-darken:       #444444;

$color-black:             #000000;
$color-black2:            #010101;
$color-black3:            #4d4d4d;
$color-dark-blue:         #283136;

$color-white:             #ffffff;

$color-red:               #fb565a;
$color-red2:              #e74246;
$color-red3:              #d7373b;

$color-green:             #00ca74;
$color-green2:            #00bc6c;
$color-green3:            #00aa62;

$color-yellow:            #efc849;
$color-yellow2:           #eab534;
$color-yellow3:           #e5a722;
