// Файл с переменными:

// Гарнитуры используемые в проекте:
$font-family-main:        "Roboto", "Arial", sans-serif;

// Weight текста используемые в проекте:
$font-weight-regular:     400;
$font-weight-medium:      500;
$font-weight-bold:        700;

// Цвета испульзуемый в проекте:
$color-gray:              #eeeeee;
$color-gray-dark:         #666666;
$color-gray-darken:       #444444;
$color-black:             #000000;
$color-dark-blue:         #283136;
$color-white:             #ffffff;
$color-red:               #fb565a;
$color-green:             #00ca74;
$color-yellow:            #efc849;
